html
  head
    title timestamp-api
  body
    h3 Example usage:
    code https://camper-api-project-kenoteb.c9users.io/December%2015,%202015
    br
    code https://camper-api-project-kenoteb.c9users.io/1450137600
    
    h3 Example output:
    code { "unix": 1450137600, "natural": "December 15, 2015" }